# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.HiberHog.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mark Lambe\Documents\GitHub\HiberHog\HiberHog\.idea\.idea.HiberHog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
